{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>SkillScope</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="{% url 'index' %}" class="logo"><strong>SkillScope</strong> <span>Precision at Every Push</span></a>
					</header>

				<!-- Menu -->

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>SkillScope</h1>
							</header>
							<div class="content">
								<p>
									SkillScope is a research project which aims to discover new ways to classify tasks from open source projects
									to better assist new contributors in finding a task that best suits their skill-set. 
									This project leverages large language models (LLMs) and Random Forest models to apply extreme
									multi-label categorization techniques to predict multilevel skills and solve open issues. 
								</p>
								<ul class="actions">
									<li><a href="{% url 'view_repository' %}"  class="button next scrolly">Continue</a></li>
								</ul>
							</div>
						</div>
					</section>

					<!--
					<div id="main">

						
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="{% static 'images/pic01.jpg' %}" alt="" />
									</span>
									<header class="major">
										<h3><a href="{% url 'index' %}" class="link">Team Engine</a></h3>
										<p>Handles the core processing of data, including fetching and storing pull requests data.
											Creates Abstract Syntax Trees (AST) from the files in the pull requests, identifies APIs and functions, and establishes their connections.
											Uses AI to classify APIs into a set list of domains and functions into subdomains, storing these classifications in databases to minimize redundant processing.</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{% static 'images/pic02.jpg' %}" alt="" />
									</span>
									<header class="major">
										<h3><a href="{% url 'index' %}" class="link">Team Data Mining</a></h3>
										<p>Focuses on extracting and preparing data from GitHub repositories.
											Converts data into usable formats like CSV and pickle, making it easier for other teams to integrate this data into their systems.
											Cleans and fuses data from different sources to ensure it is accurate and comprehensive for further analysis.</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{% static 'images/pic03.jpg' %}" alt="" />
									</span>
									<header class="major">
										<h3><a href="{% url 'index' %}" class="link">Team Predictions</a></h3>
										<p>Develops and manages machine learning models to predict classifications of new data.
											Utilizes models to analyze and categorize pull requests and other GitHub activities into predefined domains and subdomains.
											Ensures that the prediction models meet specified metrics like precision, recall, and f-measure, and adjusts thresholds to optimize model performance.</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{% static 'images/pic04.jpg' %}.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="{% url 'index' %}" class="link">Team UI</a></h3>
										<p>Responsible for populating the user interface with data.
											Ensures that the UI is updated with the latest classification results and relevant data from other teams.
											Conducts user studies to test if the UI improvements have provided better context and usability for contributors.</p>
									</header>
								</article>
						
							</section>

						

					</div> 
				-->

				<!-- Contact -->
					

				<!-- Footer -->
					
			</div>

			<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
			

	</body>
</html>