{% load static %}
{% load socialaccount %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>SkillScope</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="{% url 'index' %}" class="logo"><strong>SkillScope</strong> <span>Precision at Every Push</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="{% url 'index' %}" class="button primary fit">Home</a></li>
						</ul>
						<ul class="actions stacked">
							{% if user.is_authenticated %}
								<!-- Show dashboard link if user is logged in -->
								<li><a href="{% url 'your_dashboard' %}" class="button primary fit">Your Dashboard</a></li>
								<li><a href="{% url 'account_logout' %}" class="button primary fit">Log Out</a></li>
							{% else %}
								<!-- Show login link if user is not logged in -->
								<li><a href="{% url 'account_login' %}" class="button primary fit">Log In</a></li>
							{% endif %}
						</ul>
					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>SkillScope</h1>
							</header>
							<div class="content">
								<p>SkillScope aims to assist new contributors in finding tasks to work on OSS projects by revealing skills needed to solve open tasks. SkillScope mines projects data identifying intrinsic souce code program structure from where It is able to classify internal libraries and funcions and train a ML model ou Fine tune LLM. The model ir LLM can predict the skills showed in its UI.</p>
								<ul class="actions">
									{% if user.is_authenticated %}
										<li><a href="{% url 'your_dashboard' %}"  class="button next scrolly">Your Dashboard</a></li>
									{% else %}
										<li><a href="{% provider_login_url 'github' method='oauth2' %}" class="button">Log In</a></li>
									{% endif %}
								</ul>
							</div>
						</div>
					</section>

				<!-- Main
					<div id="main">

						
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="{% static 'images/pic01.jpg' %}" alt="" />
									</span>
									<header class="major">
										<h3><a href="{% url 'index' %}" class="link">Team Engine</a></h3>
										<p>Handles the core processing of data, including fetching and storing pull requests data.
											Creates Abstract Syntax Trees (AST) from the files in the pull requests, identifies APIs and functions, and establishes their connections.
											Uses AI to classify APIs into a set list of domains and functions into subdomains, storing these classifications in databases to minimize redundant processing.</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{% static 'images/pic02.jpg' %}" alt="" />
									</span>
									<header class="major">
										<h3><a href="{% url 'index' %}" class="link">Team Data Mining</a></h3>
										<p>Focuses on extracting and preparing data from GitHub repositories.
											Converts data into usable formats like CSV and pickle, making it easier for other teams to integrate this data into their systems.
											Cleans and fuses data from different sources to ensure it is accurate and comprehensive for further analysis.</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{% static 'images/pic03.jpg' %}" alt="" />
									</span>
									<header class="major">
										<h3><a href="{% url 'index' %}" class="link">Team Predictions</a></h3>
										<p>Develops and manages machine learning models to predict classifications of new data.
											Utilizes models to analyze and categorize pull requests and other GitHub activities into predefined domains and subdomains.
											Ensures that the prediction models meet specified metrics like precision, recall, and f-measure, and adjusts thresholds to optimize model performance.</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{% static 'images/pic04.jpg' %}.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="{% url 'index' %}" class="link">Team UI</a></h3>
										<p>Responsible for populating the user interface with data.
											Ensures that the UI is updated with the latest classification results and relevant data from other teams.
											Conducts user studies to test if the UI improvements have provided better context and usability for contributors.</p>
									</header>
								</article>
						
							</section>

						
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>The AST Team</h2>
									</header>
									<p>Each team's efforts are interconnected, contributing to a comprehensive system that leverages machine learning and AI to enhance the management and categorization of software development tasks within GitHub repositories.</p>
									<ul class="actions">
										<li><a href="{% url 'your_dashboard' %}" class="button next">Your Dashboard</a></li>
									</ul>
								</div>
							</section>

					</div> -->

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">jackutzerath35@gmail.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Phone</h3>
										<span>(000) 000-0000 x12387</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Address</h3>
										<span>3300 West Camelback Road<br />
										Phoenix, AZ 85017<br />
										United States of America</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					
			</div>

			<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
			

	</body>
</html>