{% load static %}
{% load socialaccount %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>SkillScope</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
    </head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="{% url 'index' %}" class="logo"><strong>SkillScope</strong> <span>Precision at Every Push</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="{% url 'index' %}" class="button primary fit">Home</a></li>
							
							
						</ul>
						<ul class="actions stacked">
							{% if user.is_authenticated %}
								<li><a href="{% url 'account_logout' %}" class="button primary fit">Log Out</a></li>
							{% else %}
								<!-- Show login link if user is not logged in -->
								<li><a href="{% url 'account_login' %}" class="button primary fit">Log In</a></li>
							{% endif %}
						</ul>
					</nav>

				<!-- Main -->
					<!-- Min -->
					<div id="main" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
						<form action="{% url 'repositories_by_link' %}" method="POST" class="alt" style="width: 100%; max-width: 600px; display: flex; flex-direction: column; align-items: center;">
							{% csrf_token %}
							<input type="url" name="github_link" placeholder="Enter GitHub repository link" required class="alt" style="width: 100%; margin-bottom: 20px;">
							<ul class="actions" style="width: 100%; justify-content: center;">
								<li><input type="submit" value="Submit" class="primary"></li>
							</ul>
						</form>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>