<!-- Load jQuery -->
{% load static %}
{% load socialaccount %}
<script src="{% static 'js/jquery.min.js' %}"></script>

<script>
    $(document).ready(function() {
        function checkTaskStatus() {
            console.log("Checking task status..."); // Log before sending the request
            $.ajax({
                url: "{% url 'task_status' repo_name=repo_name %}",  // Django URL to check the task status
                success: function(data) {
                    console.log("Received response:", data); // Log the received data
                    if (data.complete) {
                        console.log("Task complete. Redirecting..."); // Log on task completion
                        window.location.href = "/results/" + repo_name + "/" + username;  // URL to the view that renders results
                    } else {
                        console.log("Task not complete. Checking again in 2 seconds..."); // Log that task is not complete
                        setTimeout(checkTaskStatus, 2000); // Re-check in 2 seconds
                    }
                },
                error: function(xhr, status, error) {
                    console.error("AJAX error:", status, error); // Log any AJAX errors
                }
            });
        }
        checkTaskStatus();  // Start the polling
    });
    </script>

<!DOCTYPE HTML>
<html>
    <head>
        <title>SkillScope</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
    </head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="{% url 'index' %}" class="logo"><strong>SkillScope</strong> <span>Precision at Every Push</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="{% url 'index' %}" class="button primary fit">Home</a></li>
							
							
						</ul>
						<ul class="actions stacked">
							{% if user.is_authenticated %}
								<li><a href="{% url 'account_logout' %}" class="button primary fit">Log Out</a></li>
							{% else %}
								<!-- Show login link if user is not logged in -->
								<li><a href="{% url 'account_login' %}" class="button primary fit">Log In</a></li>
							{% endif %}
						</ul>
					</nav>

				<!-- Main -->
					<!-- Min -->
					<div id="main" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
						<h2>Classifying Open Issues, Please Wait ...</h2>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>