{% load static %}
{% load socialaccount %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>SkillScope</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
    </head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="{% url 'index' %}" class="logo"><strong>SkillScope</strong> <span>Precision at Every Push</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="{% url 'index' %}" class="button primary fit">Home</a></li>
							
						</ul>
						<ul class="actions stacked">
							{% if user.is_authenticated %}
								<li><a href="{% url 'account_logout' %}" class="button primary fit">Log Out</a></li>
							{% else %}
								<!-- Show login link if user is not logged in -->
								<li><a href="{% url 'account_login' %}" class="button primary fit"></a></li>
							{% endif %}
						</ul>
					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>Dashboard</h1>
							</header>
							<div class="content">
								<p>The open issues in the GitHub repository project are evaluated based on their relevance to specific domains and subdomains. These classifications are integrated into the project’s development workflows through automated tools that display relevant issues to developers based on their skills and current work focus. This ensures that developers are aware of and can address the most pertinent issues.</p>
								<ul class="actions">
									{% if user.is_authenticated %}
										<li><a href="{% url 'index' %}"  class="button next scrolly">Home</a></li>
									{% endif %}
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="{% static 'images/pic01.jpg' %}" alt="" />
									</span>
									<header class="major">
										<h3><a href="{% url 'your_repositories' %}" class="link">Your Respositores</a></h3>
										<p>Classify Open Issues in your Respositories! </p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{% static 'images/pic02.jpg' %}" alt="" />
									</span>
									<header class="major">
										<h3><a href="{% url 'repositories_by_link' %}" class="link">Search by a Repository Link</a></h3>
										<p>Classify Open Issues with a Github Repository URL!</p>
									</header>
								</article>
								
						
							</section>

						<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>The SkillScope Team</h2>
									</header>
									<p>Each team's efforts are interconnected, contributing to a comprehensive system that leverages machine learning and AI to enhance the management and categorization of software development tasks within GitHub repositories.</p>
									<ul class="actions">
										<li><a href="{% url 'index' %}" class="button next">Home</a></li>
									</ul>
								</div>
							</section>

					</div>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">jackutzerath35@gmail.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Phone</h3>
										<span>(000) 000-0000 x12387</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Address</h3>
										<span>3300 West Camelback Road<br />
										Phoenix, AZ 85017<br />
										United States of America</span>
									</div>
								</section>
							</section>
						</div>
					</section>


			</div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>